.footer-wrapper {
    justify-content: center;
    align-items: center;
}

.footer-inner-wrapper {
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid black;
  background: linear-gradient(to bottom, black 0%, transparent 20%);
}

.instaclone-app {
  margin-right: auto;
}


.header-logo img { 
  margin-right: auto;
   
}

.header-logo img {
  height: 40px;
}